<div class='container'>
<div class='restaurants'>

</div>
</div>
<script>
var url= "../restaurants.json";
var r0 = {};
var score= Number(window.location.href.split('?')[1]);
var numb = 0;	
var more = "/restaurant?"
$.getJSON("../restaurants.json", function(response){
  $.each(response, function(index, rest){
    if (rest.score == score){
    	numb += 1;
      var r0 = { id: rest.id, name: rest.name, image:rest.image, cuisine:rest.cuisine, description:rest.description, address: rest.address, website:rest.website, score: rest.score}
      address1 = r0.address.split('%')[0];
      address2 = r0.address.split('%')[1];
    $('.restaurants').prepend("<div id='result" + numb +"'' class='restaurant'>"+
        "<p id='rname" + numb+ "' class='restaurant_name'>" + r0.name + "</p>"+
        "<image id='rpicture" + numb + "' class='rpicture circle' src='" + 
        r0.image + "'>" +
       	"<div id='rinfo" + numb + "' class='rinfo'>" +
          "<p id='cuisine" + numb + "'class='rcuisine'>" +
          r0.cuisine + 
          "</p>" +
          "<p id='desc" + numb+ "' class='rdesc'>" + r0.description + "</p>" +
          "<p id='address" + numb + "' class='raddress'>" +
          address1 + "<br>" + address2 +
          "</p>" +
          "</div>" +
          "<a class='more btn btn-default' id='" + r0.name + "' href='" + more + rest.id + "'>View More</button>" +
        "</div>");
      console.log('success ' + index + " " +numb);
  } else{
    console.log('no matches ' + index);
  }
    
 })});
  


 
</script>
