<div class='container'>
<div class='restaurants'>

</div>
</div>
<script>
var url= "../restaurants.json";
var r0 = {};
var score= Number(window.location.href.split('?')[1]);
var scorep= score + 50;
var scoren= score - 50;
var numb = 0;	
var more = "/restaurant?"
$.getJSON("../restaurants.json", function(response){
  //$.each(response, function(index, rest){
    for (i=0; i < response.length; i++){
      var rest = response[i];
    if (rest.score <= scorep && rest.score >= scoren){
    	numb += 1;
      var r0 = { id: rest.id, name: rest.name, image:rest.image, cuisine:rest.cuisine, description:rest.description, address: rest.address, website:rest.website, score: rest.score}
      address1 = r0.address.split('%')[0];
      address2 = r0.address.split('%')[1];
      if (numb > 3) break;
    $('.restaurants').prepend("<div id='result" + numb +"'' class='restaurant'>"+
        "<div id='named" + numb + "'class='rnamed'>" +
        "<p id='rname" + numb+ "' class='restaurant_name'>" + r0.name + "</p></div>"+
        "<image id='rpicture" + numb + "' class='rpicture circle' src='" + 
        r0.image + "'>" + 
          "<div id='cuisined" + numb + "'class='rcuisined'>" +
          
          "<p id='cuisine" + numb + "'class='rcuisine'>" +
          r0.cuisine + 
          "</p>" +
          "</div>" +
          "<div id='descd" + numb+ "' class='rdescd'>" +
          "<p id='desc" + numb+ "' class='rdesc'>" + r0.description + "</p> </div>"+
           "<div id='addressd" + numb + "' class='raddressd'>" +
          "<p id='address" + numb + "' class='raddress'>" +
          address1 + "<br>" + address2 +
          "</p> </div>"+
          "<a class='more btn btn-default' id='" + r0.name + "' href='" + more + rest.id + "'>View More</button>" +
        "</div>");
      console.log('success ' + i + " " +numb);
  } else{
    console.log('no matches ' + i);
  }
    
 }});
  


 
</script>
