<div class='container'>
	<div class='jumbotron'>
		<h1> Welcome to Dine. </h1>
	<button type="button" class="btn btn-default">Login</button>
	<button type="button" class="btn btn-default">Sign up</button>
	</div>
</div>
