<div class="container">
	<div class='spacer'></div>
	<div class='jumbotron'>
		<h1> Welcome to Dine. </h1>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-default" %>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
	</div>
</div>

