<div class='container qcont'>
    <div id='filler'> </div>
    <!--Question Box-->
    <div class="alert alert-warning alert-dismissible" id='alert1' role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Please answer this questin before continuing!</strong>
    </div>
    <div id='box_filler'>
      <div id='question_box'class='questionb'>
        <h1 id='q1' class='questiont question1'>Pick a cuisine.</h1>
        <h1 id='q2' class='questiont question2'>Pick a neighborhood.</h1>
        <h1 id='q3' class='questiont question3'>Pick an average meal price.</h1>
        <h1 id='q4' class='questiont question4'>Pick an adjective.</h1>
        <h1 id='q5' class='questiont question5'>Pick a color. </h1>
      </div>
    </div>

    <div id='option_container'>
      <!--Question 1-->
     <table class='question1'>
        <tr>
          <td class="ccbox ans1" id='american'>
            <div class="inbox" id='americanz'>
              <p class='cuisinet' id='americant'>American</p>
              </div>
          </td>
          <td class="ccbox ans1" id='asian'>
            <div class="inbox"  id='asianz'>
              <p class='cuisinet' id='asiant'>Asian</p>
              </div>
          </td>
          <td class="ccbox ans1" id='french' >
            <div class="inbox" id='frenchz'>
              <p class='cuisinet' id='frencht'>French</p>
              </div>
          </td>
          <td class="ccbox ans1" id='gastropub' >
            <div class="inbox" id='gastropubz'>
              <p class='cuisinet' id='gastropubt'>Gastropub</p>
              </div>
          </td>
        </tr>

        <tr>
          <td class="ccbox ans1" id='greek'>
            <div class="inbox"  id='greekz'>
              <p class='cuisinet' id='greekt'>Greek</p>
              </div>
          </td>

          <td class="ccbox ans1" id='indian'>
            <div class="inbox" id='indianz'>
            <p class='cuisinet' id='indiant'>Indian</p>
              </div>
          </td>

          <td class="ccbox ans1" id='italian'>
             <div class="inbox" id='italianz'>
            <p class='cuisinet' id='italiant'>Italian</p>
               </div>
          </td>

          <td class="ccbox ans1" id='mexican'>
             <div class="inbox" id='mexicanz'>
            <p class='cuisinet' id='mexicant'>Mexican</p>
               </div>
          </td>
        </tr>

        <tr>
          <td class="ccbox ans1" id='seafood'>
            <div class="inbox" id='seafoodz'>
              <p class='cuisinet' id='seafoodt'>Seafood</p>
              </div>
          </td>
          <td class="ccbox ans1" id='steak'>
            <div class="inbox" id='steakz'>
              <p class='cuisinet' id='steakt'>Steak</p>
              </div>
          </td>
          <td class="ccbox ans1" id='sushi'>
             <div class="inbox" id='sushiz'>
            <p class='cuisinet' id='sushit'>Sushi</p>
               </div>
          </td>
          <td class="ccbox ans1" id='other'>
            <div class="inbox" id='otherz'>
              <p class='cuisinet' id='othert'>Surprise!</p>
              </div>
          </td>
        </tr>
      </table>

    <table id="location" class='question2'>
        <tr>

          <td class="ccbox2 ans2" id='downtown'>
            <div class="inbox2"  id='downtownz'>
              <p class='cuisinet2' id='downtownt'>Downtown</p>
              </div>
          </td>
          <td class="ccbox2 ans2" id='gold_coast' >
            <div class="inbox2" id='goldcoastz'>
              <p class='cuisinet2' id='goldcoastt'>Goldcoast</p>
              </div>
          </td>
          <td class="ccbox2 ans2" id='hyde_park' >
            <div class="inbox2" id='hyde_parkz'>
              <p class='cuisinet2' id='hyde_parkt'>Hyde Park</p>
              </div>
          </td>

          <td class="ccbox2 ans2" id='lincoln_park'>
            <div class="inbox2"  id='lincoln_parkz'>
              <p class='cuisinet2' id='lincoln_parkt'>Lincoln Park</p>
              </div>
          </td>

            <td class="ccbox2 ans2" id='logan_square'>
             <div class="inbox2" id='logan_squarez'>
            <p class='cuisinet2' id='logan_squaret'>Logan Square</p>
               </div>
          </td>
          </tr>


        <tr>


          <td class="ccbox2 ans2" id='rivern'>
             <div class="inbox2" id='rivernz'>
            <p class='cuisinet2' id='rivernt'>River North</p>
               </div>
          </td>


          <td class="ccbox2 ans2" id='riverw'>
            <div class="inbox2" id='riverwz'>
              <p class='cuisinet2' id='riverwt'>River West</p>
              </div>
          </td>

          <td class="ccbox2 ans2" id='sloop'>
            <div class="inbox2" id='sloopz'>
              <p class='cuisinet2' id='sloopt'>South Loop</p>
              </div>
          </td>



          <td class="ccbox2 ans2" id='west_town'>
             <div class="inbox2" id='west_townz'>
            <p class='cuisinet2' id='west_townt'>West Town</p>
               </div>
          </td>

           <td class="ccbox2 ans2" id='wicker_park'>
             <div class="inbox2" id='wicker_parkz'>
            <p class='cuisinet2' id='wicker_parkt'>Wicker Park</p>
               </div>
          </td>
            </tr>

      <tr>


        <td class="ccbox2 ans2 row2" id='uptown'>
             <div class="inbox2" id='uptownz'>
            <p class='cuisinet2' id='uptownt'>Uptown</p>
               </div>
          </td>

        <td class="ccbox2 ans2 row2" id='univ_vil'>
            <div class="inbox2" id='univ_vilz'>
            <p class='cuisinet2' id='univ_vilt'>University Village</p>
              </div>
          </td>
        <td class="ccbox2 ans2 row2" id='nchicagoland'>
            <div class="inbox2" id='nchicagolandz'>
              <p class='cuisinet2' id='nchicagolandt'>North Chicagoland</p>
              </div>
          </td>

          <td class="ccbox2 ans2 row2" id='schicagoland'>
            <div class="inbox2" id='schicagolandz'>
              <p class='cuisinet2' id='schicagolandt'>South Chicagoland</p>
              </div>
          </td>

          <td class="ccbox2 ans2 row2" id='wchicagoland'>
             <div class="inbox2" id='wchicagolandz'>
            <p class='cuisinet2' id='wchicagolandt'>West Chicagoland</p>
               </div>
          </td>
        </tr>
      </table>

      <a href='https://mapsengine.google.com/map/edit?mid=zp7lCvOlCL_g.kUVn5vwM8abM'target='_blank' class='question2' id="maptrig">Not sure which neighborhood? <span> View our map.</span></a>

      <div class='question3'>
        <div class="butn-group answers">
          <button type="button" id='one' class="btn btn-default btn-lg qans 3">
            $25-$50
          </button>
          <button type="button" id='two' class="btn btn-default btn-lg qans 3">
            $50-$75
          </button>
          <button type="button" id='three' class="btn btn-default btn-lg qans 3">
            $75-$100
          </button>
          <button type="button" id='four' class="btn btn-default btn-lg qans 3">
            $100-$150
          </button>
          <button type="button" id='five' class="btn btn-default btn-lg qans 3">
            $150+
          </button>
        </div>
      </div>

      <div class='question4'>
        <div class="butn-group answers">
          <button type="button" id='modern' class="btn btn-default btn-lg qans 4">
            Modern
          </button>
          <button type="button" id='sleek' class="btn btn-default btn-lg qans 4">
            Sleek
          </button>
          <button type="button" id='elegant' class="btn btn-default btn-lg qans 4">
            Elegant
          </button>

        </div>
      </div>

      <div class='question5'>
      <div class="butn-group answers">
        <button type="button" id='red' class="btn btn-default btn-lg qans 5">
          Red
        </button>
        <button type="button" id='black' class="btn btn-default btn-lg qans 5">
          Black
        </button>
        <button type="button" id='white' class="btn btn-default btn-lg qans 5">
          White
        </button>

      </div>
      </div>

 <div class='bottomnav'>
  <ul class="pagination">
   <li><a class='active' href="#" id='back'>&laquo;</a></li>
  </ul>

  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
      <span class="sr-only">60% Complete</span>
    </div>
  </div>
<ul class="pagination">
  <li><a id='next'>&raquo;</a></li>
</ul>
</div>
</div>

<!--<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>-->
<script src="../assets/questions.js"></script>
