<table>
	<tr>
		<td><div class='button btn-default' id='american'>American</div></td>
		<td><div class='button btn-default' id='japanese'>Japanese</div></td>
		<td><div class='button btn-default' id='french'>French</div></td>
	</tr>
</table>

<% if div.id