<div class='container qcont'>
    <div id='filler'> </div>
    <!--Question Box-->
    <div class="alert alert-warning alert-dismissible" id='alert1' role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Please answer this questin before continuing!</strong>
    </div>
    <div id='box_filler'>
      <div id='question_box'class='questionb'>
        <h1 id='q1' class='questiont question1'>Pick a cuisine.</h1>
        <h1 id='q2' class='questiont question2'>Pick a neighborhood.</h1>
        <h1 id='q3' class='questiont question3'>Pick an average meal price.</h1>
        <h1 id='q4' class='questiont question4'>Pick an adjective.</h1>
        <h1 id='q5' class='questiont question5'>Pick a color. </h1>
      </div>
    </div>

    <div id='option_container'>
      <!--Question 1-->
     <table class='question1' id='grid1'>
        <tr>
          <td class="ccbox ans1" id='american'>
            <div class="inbox" id='americanz'>
              <p class='cuisinet' id='americant'>American</p>
              </div>
          </td>
          <td class="ccbox ans1" id='asian'>
            <div class="inbox"  id='asianz'>
              <p class='cuisinet' id='asiant'>Asian</p>
              </div>
          </td>
          
          <!--<td class="ccbox ans1" id='gastropub' >
            <div class="inbox" id='gastropubz'>
              <p class='cuisinet' id='gastropubt'>Gastropub</p>
              </div>
          </td>-->
          

          
        </tr>

       <tr>

       <td class="ccbox ans1" id='french' >
            <div class="inbox" id='frenchz'>
              <p class='cuisinet' id='frencht'>French</p>
              </div>
          </td>

          <td class="ccbox ans1" id='italian'>
             <div class="inbox" id='italianz'>
            <p class='cuisinet' id='italiant'>Italian</p>
               </div>
          </td>

          <!-- <td class="ccbox ans1" id='greek'>
            <div class="inbox"  id='greekz'>
              <p class='cuisinet' id='greekt'>Greek</p>
              </div>
          </td>

          <td class="ccbox ans1" id='indian'>
            <div class="inbox" id='indianz'>
            <p class='cuisinet' id='indiant'>Indian</p>
              </div>
          </td>-->

          
        </tr>

        <tr>
          <td class="ccbox ans1" id='mexican'>
             <div class="inbox" id='mexicanz'>
            <p class='cuisinet' id='mexicant'>Mexican</p>
               </div>
          </td>
          <td class="ccbox ans1" id='seafood'>
            <div class="inbox" id='seafoodz'>
              <p class='cuisinet' id='seafoodt'>Seafood</p>
              </div>
          </td>
  
        </tr>
        <tr>
        <td class="ccbox ans1" id='steak'>
            <div class="inbox" id='steakz'>
              <p class='cuisinet' id='steakt'>Steak</p>
              </div>
          </td>
          <!--<td class="ccbox ans1" id='sushi'>
             <div class="inbox" id='sushiz'>
            <p class='cuisinet' id='sushit'>Sushi</p>
               </div>
          </td>-->
          <td class="ccbox ans1" id='other'>
            <div class="inbox" id='otherz'>
              <p class='cuisinet' id='othert'>Surprise!</p>
              </div>
          </td>
        </tr>

      </table>

    <table id="location" class='question2'>
        <tr>

          <td class="ccbox2 ans2" id='downtown'>
            <div class="inbox2"  id='downtownz'>
              <p class='cuisinet2' id='downtownt'>Downtown</p>
              </div>
          </td>
          <td class="ccbox2 ans2" id='gold_coast' >
            <div class="inbox2" id='goldcoastz'>
              <p class='cuisinet2' id='goldcoastt'>Goldcoast</p>
              </div>
          </td>
          <!--<td class="ccbox2 ans2" id='hyde_park' >
            <div class="inbox2" id='hyde_parkz'>
              <p class='cuisinet2' id='hyde_parkt'>Hyde Park</p>
              </div>
          </td>-->
        </tr>
        <tr>
          <td class="ccbox2 ans2" id='lincoln_park'>
            <div class="inbox2"  id='lincoln_parkz'>
              <p class='cuisinet2' id='lincoln_parkt'>Lincoln Park</p>
              </div>
          </td>

            <!--<td class="ccbox2 ans2" id='logan_square'>
             <div class="inbox2" id='logan_squarez'>
            <p class='cuisinet2' id='logan_squaret'>Logan Square</p>
               </div>
          </td>-->
          <td class="ccbox2 ans2" id='rivern'>
             <div class="inbox2" id='rivernz'>
            <p class='cuisinet2' id='rivernt'>River North</p>
               </div>
          </td>
          </tr>



        <tr>

          <td class="ccbox2 ans2" id='riverw'>
            <div class="inbox2" id='riverwz'>
              <p class='cuisinet2' id='riverwt'>River West</p>
              </div>
          </td>

          <!--<td class="ccbox2 ans2" id='sloop'>
            <div class="inbox2" id='sloopz'>
              <p class='cuisinet2' id='sloopt'>South Loop</p>
              </div>
          </td>-->



          <td class="ccbox2 ans2" id='west_town'>
             <div class="inbox2" id='west_townz'>
            <p class='cuisinet2' id='west_townt'>West Town</p>
               </div>
          </td>
        </tr>
           <!--<td class="ccbox2 ans2" id='wicker_park'>
             <div class="inbox2" id='wicker_parkz'>
            <p class='cuisinet2' id='wicker_parkt'>Wicker Park</p>
               </div>
          </td>-->
          <tr>
           <td class="ccbox2 ans2 row2" id='nchicagoland'>
            <div class="inbox2" id='nchicagolandz'>
              <p class='cuisinet2' id='nchicagolandt'>North Chicagoland</p>
              </div>
          </td>
            
            <td class="ccbox2 ans2 row2" id='wchicagoland'>
             <div class="inbox2" id='wchicagolandz'>
            <p class='cuisinet2' id='wchicagolandt'>West Chicagoland</p>
               </div>
          </td>
</tr>
     <!-- <tr>


        <td class="ccbox2 ans2 row2" id='uptown'>
             <div class="inbox2" id='uptownz'>
            <p class='cuisinet2' id='uptownt'>Uptown</p>
               </div>
          </td>

        <td class="ccbox2 ans2 row2" id='univ_vil'>
            <div class="inbox2" id='univ_vilz'>
            <p class='cuisinet2' id='univ_vilt'>University Village</p>
              </div>
          </td>
       

          <td class="ccbox2 ans2 row2" id='schicagoland'>
            <div class="inbox2" id='schicagolandz'>
              <p class='cuisinet2' id='schicagolandt'>South Chicagoland</p>
              </div>
          </td>

          
        </tr>-->
      </table>

      <a href='https://mapsengine.google.com/map/edit?mid=zp7lCvOlCL_g.kUVn5vwM8abM'target='_blank' class='question2' id="maptrig">Not sure which neighborhood? <span> View our map.</span></a>

      <div class='question3'>
        <div class="butn-group answers">
          <button type="button" id='one' class="btn btn-default btn-lg qans 3">
            $25-$50
          </button>
          <button type="button" id='two' class="btn btn-default btn-lg qans 3">
            $50-$75
          </button>
          <button type="button" id='three' class="btn btn-default btn-lg qans 3">
            $75-$100
          </button>
          <button type="button" id='four' class="btn btn-default btn-lg qans 3">
            $100-$150
          </button>
          <button type="button" id='five' class="btn btn-default btn-lg qans 3">
            $150+
          </button>
        </div>
      </div>

      <div class='question4'>
        <div class="butn-group answers">
          <button type="button" id='modern' class="btn btn-default btn-lg qans 4">
            Modern
          </button>
          <button type="button" id='sleek' class="btn btn-default btn-lg qans 4">
            Sleek
          </button>
          <button type="button" id='elegant' class="btn btn-default btn-lg qans 4">
            Elegant
          </button>

        </div>
      </div>

      <div class='question5'>
      <div class="butn-group answers">
        <button type="button" id='red' class="btn btn-default btn-lg qans 5">
          Red
        </button>
        <button type="button" id='black' class="btn btn-default btn-lg qans 5">
          Black
        </button>
        <button type="button" id='white' class="btn btn-default btn-lg qans 5">
          White
        </button>

      </div>
      </div>

 <div class='bottomnav'>
  <ul class="pagination">
   <li><a class='active' href="#" id='back'>&laquo;</a></li>
  </ul>

  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
      <span class="sr-only">60% Complete</span>
    </div>
  </div>
<ul class="pagination">
  <li><a id='next'>&raquo;</a></li>
</ul>
</div>
</div>

<script type="text/javascript">
var choice_1;
var choice_2;
var choice_3=3; 
var choice_4;
var choice_5=5;
var ans_1;
var ans_2;
var ans_3;
var ans_4;
var ans_5;
var bos;
var rscore;
var results= '../ajax.html?';

function random(x,y) {
    return Math.floor(Math.random() * (x-y+1) + y)} ;
    
$('.inbox').hover(function(){
  bos=$(this).attr('id');
  bos=bos.replace('z','t');
  $('#'+bos).css('color', 'white');
  $(this).css('background','black')},
  function(){
  $(this).css('background','white');
  $('#'+bos).css('color', 'black');
});

$('.inbox2').hover(function(){
  bos=$(this).attr('id');
  bos=bos.replace('z','t');
  $('#'+bos).css('color', 'white');
  $(this).css('background','black')},
  function(){
  $(this).css('background','white');
  $('#'+bos).css('color', 'black');
});



$("#back").on( "click", function(){
  if ($(".question1").css("display") === 'block'){
    window.location= "../start.html";;
  
  } else if ($(".question2").css("display") === 'flex'){
    $(".question1").css("display",'block');
    $(".question2").css("display",'none');
    $(".progress-bar").css("width", "0%");
  
  }else if ($(".question3").css("display") === 'flex'){
    $(".question2").css("display",'block');
     $(".question3").css("display",'none');
    $(".progress-bar").css("width", "20%");
  
  }else if ($(".question4").css("display") === 'flex'){
    $(".question3").css("display",'block');
     $(".question4").css("display",'none');
    $(".progress-bar").css("width", "40%");
  
  }else if ($(".question5").css("display") === 'flex'){
    $(".question4").css("display",'block');
     $(".question5").css("display",'none');
    $(".progress-bar").css("width", "60%");
  }
});

$("#next").click(function(){
  if ($(".question1").css("display") === 'block' && ans_1!= undefined){
    $(".question2").css("display",'block');
     $(".question1").css("display",'none');
    $(".progress-bar").css("width", "20%");
  
  } else if ($(".question2").css("display") === 'block' && ans_2!= undefined){
    $(".question3").css("display",'block');
     $(".question2").css("display",'none');
   $(".progress-bar").css("width", "40%");
  
  }else if ($(".question3").css("display") === 'block' && ans_3!= undefined){
    $(".question4").css("display",'block');
     $(".question3").css("display",'none');
    $(".progress-bar").css("width", "60%");
  
  }
    else if ($(".question4").css("display") === 'block' && ans_4!= undefined){
    $(".question5").css("display",'block');
     $(".question4").css("display",'none');
    $(".progress-bar").css("width", "80%");
  
  } else{
    $('.alert').css('display','block');
    console.log('no')

}});

//First Question
$(".ans1").click(function() {
    ans_1= $(this).attr("id");
      if (ans_1 == "mexican") {
        choice_1=500;
  } else if ( ans_1 == "italian") {
          choice_1=310;
  } else if ( ans_1 == "greek") {
         choice_1=250;
  } else if ( ans_1 == "french") {
         choice_1=125;
  } else if ( ans_1 == "steak") {
         choice_1=75;
  } else if ( ans_1 == "gastropub") {
         choice_1=25;
  } else if ( ans_1 == "american") {
         choice_1=0;
  } else if ( ans_1 == "seafood") {
         choice_1= -25;
  } else if ( ans_1 == "sushi") {
         choice_1=-195;
  } else if ( ans_1 == "asian") {
         choice_1=-250;
  } else if ( ans_1 == "indian") {
         choice_1=-500;
  }else if ( ans_1 == "other") {
        choice_1=random(500,-500);
};
       
  $(".question1").css("display","none");
  $(".question2").css("display","block");
  $(".progress-bar").css("width", "20%");
  console.log(ans_1);
  console.log(choice_1);
})

//Second Question
$(".ans2").click(function() {
      ans_2= $(this).attr("id");
      if (ans_2 == "nchicagoland") {
        choice_2=500;
  } else if ( ans_2 == "uptown") {
        choice_2=300;
  } else if ( ans_2 == "logan_square") {
        choice_2=175;
  } else if ( ans_2 == "lincoln_park") {
        choice_2=115;
  } else if ( ans_2 == "wicker_park") {
        choice_2=145;
  } else if ( ans_2 == "riverw") {
        choice_2=70;
  } else if ( ans_2 == "gold_coast") {
        choice_2=50;
  } else if ( ans_2 == "rivern") {
        choice_2=0;
  } else if ( ans_2 == "downtown") {
        choice_2=-40;
  } else if ( ans_2 == "west_town") {
        choice_2=-75;
  } else if ( ans_2 == "sloop") {
        choice_2=-95;
  } else if ( ans_2 == "univ_vil") {
        choice_2=-150;
  } else if ( ans_2 == "hyde_park") {
        choice_2=-400;
  } else if ( ans_2 == "schicagoland") {
        choice_2=-500;
  } else if ( ans_2 == "wchicagoland") {
        choice_2=165;
  }
       
  $(".question2").css("display","none");
  $(".question3").css("display","block");
  $(".slide").css("display","inline-block");
  $(".progress-bar").css("width", "40%");
  console.log(ans_2);
  console.log(choice_2);
})

//third Question

$(".3").click(function() {
      ans_3= $(this).attr("id");
      if (ans_3 == "one") {
        choice_3=-600;
  } else if ( ans_3 == "two") {
        choice_3=300;
  } else if ( ans_3 == "three") {
        choice_3=0;
  }else if ( ans_3 == "four") {
        choice_3=-300;
  }else if ( ans_3 == "five") {
        choice_3=-600;
  };
       
  $(".question3").css("display","none");
  $(".slide").css("display","none");
  $(".question4").css("display","block");
  $(".progress-bar").css("width", "60%");
  console.log(ans_3);
  console.log(choice_3);
})

//Fourth Question
$(".4").click(function() {
      ans_4= $(this).attr("id");
      if (ans_4 == "modern") {
        choice_4=100;
  } else if ( ans_4 == "sleek") {
        choice_4=0;
  } else if ( ans_4 == "elegant") {
        choice_4=-100;
  };
       
  $(".question4").css("display","none");
  $(".question5").css("display","block");
  $(".progress-bar").css("width", "80%");
  console.log(ans_4);
  console.log(choice_4);
})

//Fifth Question
$(".5").click(function() {
       ans_5= $(this).attr("id");
      if (ans_5 == "white") {
        choice_5=100;
  } else if ( ans_5 == "red") {
        choice_5=0;
  } else if ( ans_5 == "black") {
        choice_5=-100;
  };
      
  console.log(ans_5);
  console.log(choice_5);
  rscore  = choice_1 + choice_2 + choice_3 + choice_4+ choice_5; 
  window.location.href= results + rscore  
 
})
  

      

</script>

