 <div class='container'>
        <iframe id='frame' src=''></iframe>
      </div>
      <div id='wrapper'>
        <div id='bottom-control'>
          <button class='bottomb' id='b1'>Results</button>
          <button class='bottomb' id='b2'>Book Now</button>
          <button class='bottomb' id='b3'>Restaurant Home</button>
          <button class='bottomb' id='b4'>Reviews</button>
          <button class='bottomb' id='b5'>Social</button>
          <button class='bottomb' id='b6'>Share</button>
        </div>
      </div>
  
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="../jscript/restaurant.js"></script>
<script src="../jscript/results.js"></script>