 <div class='container rcont'>
        <div class='screen'>
         <iframe id='frame' src=''></iframe>
       </div>
      
      <div id='wrapper'>
        <div id='left' class='bar'></div>
        <div id='control' class='bar'>
        <ul class="tablist">
          <li><button class='bottomb' id='b1'>Results</button></li>
          <li><button class='bottomb' id='b2'>Restaurant Home</button></li>
          <li><button class='bottomb' id='b3'>Book Now</button></li>
        </ul>
        </div>
        <div id='right' class='bar'></div>
      </div>
</div>
  
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<!--<script src="../jscript/results.js"></script>-->