 <div class='container'>
  <div class='restaurants'>  
  <!--restaurant 1-->
      <div id='result1' class='restaurant'>
        <h2 id='rname1'class='restaurant_name'>91 Wood Fired Oven</h2>
        <div id='rpicture1' class='rpicture'></div>
        <div id='rinfo1' class='rinfo'>
          <p id='cuisine1'class='rcuisine'>
          Californian
          </p>
          <p id='desc1' class='rdesc'>a hip cozy spot to eat</p>
          <p id='address1' class='raddress'>
          3234 W Imaginary Way<br>
          Chicago, IL 60201
          </p>
          </div>
          <button class='more btn btn-default' id='more1'>View More</button>
        </div>
    
    <!--restaurant 2-->
    <div id='result2' class='restaurant'>
        <h2 id='rname2' class='restaurant_name'> </h2>
        <div id='rpicture2' class='rpicture'></div>
        <div id='rinfo2' class='rinfo'>
          <p id='cuisine2'class='rcuisine'></p>
          <p id='desc2' class='rdesc'  >ratings will go here</p>
          <p id='address2' class='raddress'>
          3234 W Imaginary Way<br>
          Chicago, IL 60201
          </p>
       </div>
        <button class='more btn btn-default' id='more2'>View More</button>
     </div>
  <!--restaurant 3-->
    <div id='result3' class='restaurant'>
      <h2 id='rname3'class='restaurant_name'>Restaurant Three</h2>
      <div id='rpicture3' class='rpicture'></div>
      <div id='rinfo3' class='rinfo'>
        <p id='cuisine3'class='rcuisine'>French</p>
        <p id='desc3' class='rdesc'>ttttt </p>
        <p id='address3' class='raddress'>
        3234 W Imaginary Way<br>
        Chicago, IL 60201
        </p>
      </div>
      <button class='more btn btn-default' id='more3'>View More</button>
    </div>
    </div>
 </div>
  
<div id=footer>
      <p id='copyright'> &copy; Dine. 2014 All Rights Reserved</p>
      </div>
