<div class="container-fluid">
  <div class= "rectangle">
      <div id="left" class="row">
        <%= button_to "Edit Your Flavor Profile", edit_user_registration_path, id: "flavorprof", class: "box", method: :get %>
      </div>
      <div id="middle" class="row">
          <%=button_to "Take the Quiz", questions_path, class: "box", id:'quizb', method: :get %>
      </div>
      <div id="right" class="row">
        <button id="searchb" class="box"><p>Search Restaurants by Name</p></button>
        <script type="text/javascript"> $('#searchb').click(function(){alert('click')})</script>
      </div>
  </div>
</div>
