#filler{
  height:10px}

#alert1{
  display: none;
  margin-bottom: 0px
}

/**big window**/
 #mapbox{
  background-color: white;
  width: 950px;
  height: 425px;
  margin:auto;
  padding: 2% 0% 5% 0%;
  display:block;
  }


/**Question**/
.questionb{
  width:20%;
  height:25%;
  
  
  }
#box_filler{
  display: flex;
  top: -300px
  }

#question_box{
  display:block;
  width:100%;
  text-align:center;
  vertical-align:middle;
  padding-top:3%;
  font-size:60px;
  font-family: 'lato';
  position:relative;
  margin-top: 0% 
  }

/**Cuisine Selectors**/
table{
  position:relative;
  margin: 0 auto;
  top:-20px
}

td{
  height:30px;
  width:100px;
}

.inbox{
  height:75px;
  width:160px;
<<<<<<< HEAD
  border:3px solid black;
<<<<<<< HEAD
=======
  border:2px solid black;
>>>>>>> origin/style
  margin:10px 20px 0px 20px;
=======
  margin:10px 0px 3px 10px;
>>>>>>> 38025c82947027478400db2f3e38f6bfca56f90e
}

.cuisinet{
 position:relative;
  top:-10px;
  font-weight:400;
  font-family: 'lato';
}

#americant{
  left:-5px
}

#asiant{
  left:20px
}

#frencht{
  left:12px;
}

#gastropubt{
left:-15px;
}

#greekt{
  left:19px;
}

#indiant{
  left:17px;
}

#italiant{
  left:17px;
}
#mexicant{
left:3px;
}

#seafoodt{
left:5px;
}

#steakt{
left:22px;
}

#sushit{
left:19px;
}




/**location Selectors**/
#location{
  position:relative;
  margin:0 auto;
  padding-left:15px
}
 
#location td{
  margin-top:0px;
  padding-bottom:9px;
}
.row2{
  padding-bottom: 0px
}

.inbox2{
  height:70px;
  width:160px;
  border:2px solid black;
  margin-right:16px;
  position:relative;
}

.cuisinet2{
 position:absolute;
  font-weight:400;
  font-family: 'lato';
  font-size:1.5em;
  width:100px;
  margin-top: 3%;
  vertical-align: middle;
}

#downtownt, #uptownt, #goldcoastt, #hyde_parkt{
  margin-top:12.5%
}

/**Map**/
#maptrig{
  position:relative;
  top:250px;
  left:35%;
  border:none;
  text-decoration:none;
  font-family: 'lato';
}

/**Answer Boxes***/
#option_container{
  display:flex;
  flex-direction:column;
  height:10%;
  }

.option{
  background-color:inherit;
  margin-top: 1px;
  position:relative;
  border: none;
  height: 25%; 
  display:block;
  width:950px;
  top:-40px
}

/*Question3*/
.answers{
  margin:0 auto;
  text-align: center;
  width:100%;
  z-index: 200

}

.qans{
  margin-top: 0px;
  width:100%;
  height:20%;
  font-size: 2em;
  border:none;
  border-radius: 30;
}

/**Text Styling**/
table h3,table p{
  display:inline;
  float:left;
  margin-left:20px;
  color:#1B0A2A;
  font-family: 'lato';
  font-weight:300;
  font-size:30px;
  text-align:center;
  vertical-align:middle;
}
.optionletter, .answer{
  position:absolute;
  left:20px;
  top:0px}

.answer{
  left:30%;
  display:inline;
  width:30%  
}

.questiont{
  font-size:.8em;
  top: -2px;
  position:relative;
  z-index:100}


p{
  float:right;
  margin-right:50%;
  margin-top:20px;
  display:inline-block;
  }



.bottomnav{
  width: 100%;
  text-align: center
}
.pagination{
  width: 5%;
  margin-bottom: 5px;
  margin-top: 10px;
  left:10%;
}
.progress{
  width:80%;
  display: inline-block;
}

 .pagination a{
  width:100%%;
  height:10%;
  font-size: 1.5em;
  text-align: center;
 }

/**Hover**/
.option:hover{
  background-color:#1C1C1C;}
.option:hover p{
  color:#FAFAFA;
  font-weight:200;
  display:inline-block;
  vertical-align:middle;
  right:10px}

.option:hover h3{
  position:absolute;
  left:0;
  color:#FAFAFA;
  font-weight:700; 
}



#help:hover{
  background-color:black;
  color: white}
#next a:visited{
  color:black}

/**Questions hidden**/


.question2, .question3, .question4, .question5, .slide{
  display:none}

#q1{
  top:-20px
}
#q2{
  top:-20px
}

#q3, #q5{
  top:-20px;
}

#q5{
  top:-25px;
}

@media (max-width: 840px){
  #grid1{
    column-count: 2
  }
}
