body{
  position: relative
}
.rectangle{
  display: flex;
  flex-direction: row;
  margin-top: 5%;

}

.row{
  height:300px;
  width: 33%;
  border-left: 3px solid black;
  position:relative;
  margin:0;
}

#left{
  left: -5px;
  border-left: 0px
}



.box {
  background:#ECF0F1;
  height:100px;
  width:60%;
  padding:3px;
  text-align:center;
  vertical-align:middle;
  border:none;
  font-family:'Roboto', sans-serif;
  font-size:1em;
  position:relative;
  left:20%;
  margin-top:10%;
  color:black
}

#searchb,#quizb{
  top:60px;
}  

#flavorprof{
  top: 60px;
}

p{
  margin-top:20px;
  color:black
}

#qt{
  margin-top:20px;}
#quizb{
  height:100px}



